table.table.table-bordered
  tbody(about=path_to.lesson(lesson))
    tr
      th title
      td= lesson.title
    tr
      th data
      td= lesson.data
    tr
      th author
      td= lesson.author
    tr
      th grade
      td= lesson.grade
    tr
      th cat
      td= lesson.cat

.well
  != link_to('Edit', path_to.edit_lesson(lesson), {class: 'btn primary'}) + ' '
  != link_to('Delete', path_to.lesson(lesson), {class: 'btn danger', method: 'delete', remote: true, jsonp: '(function (u) { location.href = u; })'})
  span= ' or '
  != link_to('Back to index', path_to.lessons())